<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>			      
			</div>
		</div>
	</div>
</div>

<div class="loading-container">
	<div class="pulse"></div>
</div>
<div class = "container-fluid" style="visibility:hidden;">
	<div class = "container">
	<!--  CALENDAR -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<label><span class="glyphicon glyphicon-ok"></span> Solicitudes Aprobadas</label>
				<div style="clear:both;"></div>
			</div>
			<div class="panel-body">
				<div id="fc-aprobados"></div>
				<br/>
				<span class = "fc-event" style ="height:15px;width:15px;display: inline-block;background:#5cb85c;border-color: #5cb85c;"></span> Día Personal <br/>
				<span class = "fc-event" style ="height:15px;width:15px;display: inline-block;background:#95a5a6;border-color: #95a5a6;"></span> Día Flotante <br/>
				<span class = "fc-event" style ="height:15px;width:15px;display: inline-block;background:#e74c3c;border-color: #e74c3c;"></span> Permiso Especial <br/>
				<span class = "fc-event" style ="height:15px;width:15px;display: inline-block;background:#f0ad4e;border-color: #f0ad4e;"></span> Incapacidad <br/>	
			</div>
		</div>
	<!-- /CALENDAR -->
	</div>
</div>