<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">Aceptar</button>			      
			</div>
		</div>
	</div>
</div>

<div class = "container-fluid">
	<div class = "container">
	<!--  CALENDAR -->
		<div class="panel panel-primary">
			<div class="panel-heading">
				<label><span class="glyphicon glyphicon-calendar"></span> Calendario</label>
				<div style="clear:both;"></div>
			</div>
			<div class="panel-body">
				<div id="fc-eventos"></div>				
			</div>
		</div>
	<!-- /CALENDAR -->
	</div>
</div>