<!-- Modal -->
<div class="modal fade" id="confirmGuardar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel" >Guardar Cambios</h4>
			</div>
			<div class="modal-body">
				<!-- FORMS ================================== -->
				<p>¿Está usted seguro de guardar los cambios?</p>
				<!--/FORMS ================================== -->
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" id="guardar" >Guardar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>

<div class = "container-fluid">

	<div class="page-header"><h1><span class = "glyphicon glyphicon-calendar"></span> Mantenimiento de Feriados</h1></div>

	<div class="col-lg-12">
		<div class="form-group">
			<button  type="submit" id="confirm" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
		</div>
	</div>
	{{!-- <div class = "container" style="position:relative;"> --}}
		<div class="col-lg-12">
			<div class="form-group">					
				<div id="full-year"></div>
			</div>
		</div>
	{{!-- </div> --}}

</div>
