<div class = "container-fluid">
		<form class="col-md-4 well" id = "cambiar_password" style=" margin:0 auto; float:none;" role="form" method="post" action="/password-change">
			<legend><strong>Cambiar Contraseña</strong></legend>
			{{#if mensaje}}
			<div class="alert {{{clase}}} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				{{{mensaje}}}
			</div>
			{{/if}}
			<div id= "msj"></div>

			<label for="password1">Contraseña Actual:</label>
			<input type="password" name ="password1"class="form-control" pattern=".{6,}" required title="6 Caracteres Mínimo" placeholder="Contraseña Actual" required autofocus></br>

			<label for="password2">Contraseña Nueva:</label>
			<input type="password" name ="password2"class="form-control" pattern=".{6,}" required title="6 Caracteres Mínimo" placeholder="Contraseña Nueva" required></br>
			<label for="password2">Confirmar Contraseña Nueva:</label>
			<input type="password" name ="password3"class="form-control" pattern=".{6,}" required title="6 Caracteres Mínimo" placeholder="Vuelva a escribir la Contraseña" required></br>
		
			<button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>

			
		</form>
</div> <!-- /container -->