<div class = "container">
		<form class="col-md-4 well" style=" margin:0 auto; float:none;" role="form" method="post" action="/password-code">
			<legend><strong>Ingresa Código de Verificación</strong></legend>
			{{#if mensaje}}
			<div class="alert {{{clase}}} alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				{{{mensaje}}}
			</div>
			{{/if}}
			Un nuevo código de verificación ha sido enviado a tu correo electónico (Revisar correo no deseado).<br/><br/>
			<input type="email" name ="username"class="form-control" style="display:none;" value = "{{correo}}"placeholder="Email address" readonly></br>

			<label for="email">Código:</label>
			<input type="text" name ="codigo"class="form-control" placeholder="Ingresar Código" required></br>
		
			<button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>

			
		</form>
</div> <!-- /container -->

<style>
	.page-content-wrapper{
		position: absolute;
		width: 100%;
		height: 100%;
	}
	.container{
		position: relative;
		top: 43%;
		transform: translateY(-50%);
	}
	body{
		overflow-y: hidden;
	}

</style>