<!-- ASIDE NAV =================================================== -->
<div id="sidebar-wrapper">
	<ul class="sidebar-nav">
		<li class="sidebar-brand"><a href="#">Tu Cuenta</a></li>
		<li><a href="/inicio"><div class="icono-aside icono-menu"></div>Menú Principal</a></li>
		
		<li><a href="/logout">Cerrar Sesión</a></li>
	</ul>
	<div id="sidebar-wrapper" >
				<ul class="sidebar-nav">
					<li class="sidebar-brand"><a href="#">Menú de Usuario</a></li>
					<li><a href="/inicio"><div class="icono-aside icono-menu"></div>Inicio</a></li>
					<li><a href="/perfil"><div class="icono-aside icono-perfil"></div>Perfil</a></li>
					
					<ul class="">
						<li class="nav nav-second-level"><a href="javascript:editar()"><div class="icono-aside icono-editar"></div>Editar Perfil</a></li>
						<li class="nav nav-second-level"><a href="/password-change"><div class="icono-aside icono-password"></div>Cambiar Contraseña</a></li>
					</ul>

					<li><a href="/permisos"><div class="icono-aside icono-permisos"></div>Nueva Solicitud</a></li>
					<li><a href="/historial_solicitudes"><div class="icono-aside icono-historial"></div>Mi Historial de Solicitudes</a></li>
					<li><a href="/fc_eventos"><div class="icono-aside icono-eventos"></div>Calendario</a></li>
					{{#unless jefe}}
					<li><a href="/fc_aprobados"><div class="icono-aside icono-aprobados"></div>Solicitudes Aprobadas</a></li>
					{{/unless}}

					{{#if admin}}
					<li class="sidebar-brand"><a href="#">Menú de Administrador</a></li>
					<li><a href="/mant_usuarios"><div class="icono-aside icono-usuarios"></div>Usuarios</a></li>
					<li><a href="/mant_tipos_permisos"><div class="icono-aside icono-tipos_permisos"></div>Tipo de Permisos</a></li>
					<li><a href="/mant_departamentos"><div class="icono-aside icono-departamentos"></div>Departamentos</a></li>
					<li><a href="/consultas_admin"><div class="icono-aside icono-consultar"></div>Todas las Solicitudes</a></li>
					{{/if}}
					{{#if jefe}}
					<li class="sidebar-brand"><a href="#">Menú de Jéfe</a></li>
					<li><a href="/solicitudes_permisos"><div class="icono-aside icono-solicitud_permiso"></div>Solicitudes de Permisos</a></li>
					<li><a href="/solicitudes_permisos-historial"><div class="icono-aside icono-historial_solicitudes"></div>Historial de Solicitudes</a></li>
					<li><a href="/fc_aprobados"><div class="icono-aside icono-aprobados"></div>Solicitudes Aprobadas</a></li>
					{{/if}}
				</ul>
			</div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel" >Actualizar Datos.</h4>
			</div>
			<div class="modal-body">
				<!-- FORMS ================================== -->
					<div class="form-group">
						<label for="pass">Escribe tu Contraseña para poder actualizar los datos:</label>						
						<input type="password" name="pass" class="form-control" id="pass" placeholder="Contraseña" >
					</div>
				<!--/FORMS ================================== -->
			</div>
			<div class="modal-footer">
				<button onclick = "fx_enviar();" type="button" class="btn btn-danger">Actualizar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" id="cancelar">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- /Modal _______________________________________________________________________________________________________________________________________-->

<div class = "container-fluid">
	<div id="msj">{{{msj}}}</div>
	<div class="page-header"><h1><span class="glyphicon glyphicon-user"></span> Mi Perfil</h1></div> 
	<form role="form" id="form" class="form-horizontal" method="post" action="/perfil">
		<table id = "usuario"class="table table-bordered noDataTables">
		{{{t_perfil}}}
		</table>
		<td><a style = "display:none;" id="enviar" class = "btn btn-primary" data-toggle="modal" data-target="#confirmUpdate">Actualizar</a></td>
		<button  type="submit"  style = "display:none" id="actualizar" class="btn btn-danger" >Actualizar</button>		
	</form>

</div>